/*
도넛 차트를 담는 컨테이너
*/
.donutChartContainer {
    display: flex; /* flexbox 레이아웃을 사용 */
    gap: 10px; /* flex 아이템들 사이의 간격을 10px로 설정 */
    /* 컨테이너의 아래 마진을 10px로 설정 */
    margin: 50px 50px;
    flex-direction: row; /* 아이템을 수평으로 배열 */
    justify-content: space-between; /* 왼쪽에는 donutChart, 오른쪽에는 scoreText가 오도록 설정 */
    align-items: center; /* 아이템을 수직으로 중앙 정렬 */
}
/*
점수 설명
 */
.scoreText {
    position: relative;
    width: 600px;
    height: 100px;
    display: flex;  /* Flexbox를 활성화 */
    text-align: left;
    font-size: 30px;  /* 글자 크기 */
    flex-direction: column; /* 세로로 아이템 배치 */
}
.detailText {
    font-size: 12px;  /* 글자 크기를 12px로 설정 */
    color: #999;  /* 글자 색깔을 회색으로 설정 */
    text-align: left;
}
/*
도넛 차트
*/
.donutChart {
    position: relative; /* 상대적 위치 지정 (내부의 절대위치 아이템을 위함) */
    width: 300px; /* 차트의 너비를 200px로 설정 */
    height: 300px; /* 차트의 높이를 200px로 설정 */
    border-radius: 50%; /* 차트를 원형으로 만듦 */
    transition: 0.3s; /* 0.3초 동안의 전환 효과를 적용 (hover 등의 상태 변화에 사용 가능) */
}

/*
도넛 차트의 중앙에 위치할 텍스트 박스
*/
span.center {
    background: #fff; /* 배경색을 흰색으로 설정 */

    position: absolute; /* 절대 위치 지정 (부모의 relative에 따름) */
    top: 50%; /* 상위 요소에 대한 상단에서의 위치를 50%로 설정 */
    left: 50%; /* 상위 요소에 대한 왼쪽에서의 위치를 50%로 설정 */
    width: 250px; /* 너비를 40px로 설정 */
    height: 250px; /* 높이를 40px로 설정 */
    border-radius: 50%; /* 텍스트 박스를 원형으로 만듦 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    line-height: 250px;
    font-size: 40px; /* 글꼴 크기를 15px로 설정 */
    transform: translate(-50%, -50%); /* 위치를 상위 요소의 중앙으로 이동 */
}
