<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hana.hanafinal.claim.ClaimMapper">
    <select id="getMyProducts" resultType="hana.hanafinal.claim.ClaimDTO">
        SELECT ip.*
        FROM InsuranceProduct ip
        WHERE ip.insuranceproductid IN (
            SELECT mp.insuranceproductid
            FROM MyProduct mp
            WHERE mp.userId = 3 AND mp.status = 0
        )
    </select>

    <select id="getMyClaims">
        SELECT *
        FROM Claim
    </select>

    <insert id="insertClaim" parameterType="hana.hanafinal.claim.ClaimDTO02">
        INSERT INTO Claim (myproductId, claimplace, claimcontent, claimdate, claimbank, claimaccount, claimstatus)
        VALUES (#{insuranceProductId}, #{place}, #{claimContent}, #{selectedDate}, #{bank}, #{accountNumber}, 1)
    </insert>

    <update id="updateHospitalHistoryId" parameterType="string">
        UPDATE Claim
        SET hospitalhistoryid = #{historyId}
        WHERE hospitalhistoryid IS NULL
    </update>

    <select id="selectClaimsWithStatusOne" resultType="hana.hanafinal.claim.ClaimDTO03">
        SELECT * FROM Claim WHERE claimstatus = 1
    </select>

    <update id="updateImagePaths" parameterType="map">
        UPDATE BIOWALLET
        SET
        "diagnosis" = #{diagnosisImagePath},
        "hospitalization" = #{hospitalizationImagePath}
    </update>
</mapper>
