<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hana.hanafinal.diagnosis.DiagnosisMapper">
    <update id="updateDiagnosis">
        UPDATE Diagnosis
        SET
            diagnosisname = #{diagnosisname},
            diagnosisssn = #{diagnosisssn},
            diagnosismain = #{diagnosismain},
            diagnosismaincode = #{diagnosismaincode},
            diagnosisside01 = #{diagnosisside01},
            diagnosisside01code = #{diagnosisside01code},
            diagnosisside02 = #{diagnosisside02},
            diagnosisside02code = #{diagnosisside02code},
            diagnosissurgery = #{diagnosissurgery},
            diagnosisdepartment = #{diagnosisdepartment},
            diagnosisdate = #{diagnosisdate}
    </update>
</mapper>
