<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hana.hanafinal.predict.PredictMapper">
    <update id="updatePredictData">
        UPDATE BIOWALLET
        SET
        "dg01score" = #{dg01Score},
        "dg02score" = #{dg02Score},
        "dg03score" = #{dg03Score},
        "dg04score" = #{dg04Score},
        "dg05score" = #{dg05Score},
        "dg06score" = #{dg06Score},
        "dg07score" = #{dg07Score},
        "dg08score" = #{dg08Score}
        WHERE
        "userId" = 3
    </update>
</mapper>