<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hana.hanafinal.mypage.MypageMapper">
    <select id="findAll" resultType="hana.hanafinal.mypage.MypageDTO">
        SELECT
            m.*,
            i.insurancecompanyname,
            i.insurancetype,
            i.insurancescope,
            i.insurancename,
            i.insurancecontent,
            i.insurancefee,
            i.insurancerating,
            i.insurancereview
        FROM myproduct m
                 INNER JOIN InsuranceProduct i ON m.insuranceproductid = i.insuranceproductid
    </select>
</mapper>