<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hana.hanafinal.recommend.RecommendMapper">
    <select id="findByUserId" parameterType="int">
        <!--SELECT * FROM biowallet WHERE userId = #{userId}-->
        SELECT * FROM biowallet WHERE "userId" = #{userId}
    </select>
    <select id="findInsuranceByScope">
        SELECT * FROM InsuranceProduct WHERE insurancescope LIKE #{query}
    </select>
</mapper>